<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/home.css">
    <meta charset="UTF-8">
    <title>:P</title>
</head>
<body>
    <!-- Por si estas revisando esto... te quiero -->
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="surrounded">
                    <span class="t"><b>Te Quiero Rocio del Alba</b></h1>
                    <div class="heart">
                        <h1><i class="fa fa-heart fa-5x"></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="/home.js"></script>
</body>
</html>
